#confirmationMailModal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
  .confirmation_mail.row
    %h2 Resend confirmation instructions
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), remote: true) do |f|
      .display_error
      .field
        = f.label :email
        = f.email_field :email, autofocus: true
      .actions
        = f.submit "Resend confirmation instructions"