// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.articles {
  h4 {
    font-family: "Roboto Slab", serif;
    padding-bottom: 20px;
  }
  @extend .row;
  .block {
    @extend .column;
    &.article-content {
      padding-left: 0;
      @extend .medium-9;
    }
    &.side-content {
      @extend .medium-3;
    }
  }
}