// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.articles {
  h2, h4 {
    padding-bottom: 20px;
  }
  h2 {
    text-align: center;
  }
  .block {
    @extend .column;
    &.article-content {
      padding-left: 0;
    }
  }
  form {
    .field {
      input {
        width: 40%;
      }

      div.select2-container {
        width: 50%;
      }
    }

    #tags_field, #category_field {
      margin-bottom: 10px;
    }

    #top_story_field {
      margin: 10px;
    }

    #article_top_story {
      width: auto;
    }

    #summary {
      display: inline-block;
      width: 50%;
      margin: 0;
    }

    #char-count {
      font-style: italic;
      font-size: 11px;
      color: red;
      vertical-align: middle;
    }
  }
  .cover-image {
    margin: 20px;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .tags {
    @extend .right;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
  }
}
