#home-page {
  #section-1 {
    padding-left: 0;
    #article-1 {
      padding-left: 0;
      @extend .column;
      @extend .medium-8;
    }

    #article-2 {
      padding-left: 0;
      padding-right: 0;
      @extend .column;
      @extend .medium-4;
    }
  }

  #section-1, #section-2, #section-4 {
    @extend .row;
  }

  #section-3 {
    padding: 0;
    margin-bottom: 20px;
  }

  .newsletter {
    overflow: hidden;
    @extend .panel;
    padding: 0;
    line-height: 117px;
    padding: 10px;
    #title {
      font-size: 1.5rem;
      white-space: nowrap;
    }
    #title, #text, #submit {
      float: left;
      padding: 9px;
    }
    #title, #text {
      width: 40%;
    }
    #submit {
      width: 15%;
    }
    #text {
      input {
        display: inline-block;
      }
    }
  }

  .three-column-article {
    padding-left: 0;
    @extend .column;
    @extend .medium-4;

    &:last-child {
      padding-right: 0;
    }
  }
}
.article-board {
  @extend .panel;
  padding: 10px 20px 0 20px;
  .title {
    font-size: 36px;
  }
  .article-info {
    font-weight: 300;
    .title {
      a {
        font-size: 36px;
        color: #d45934;
        font-weight: 400;
        word-wrap: break-word;
      }
    }
    .categories {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
    }
    .desc {
      font-size: 12px;
      padding-bottom: 10px;
    }
    img {
      float: left;
      margin: 3px;
      width: 77px;
      height: 77px;
    }
    .summary {
      @extend .clearfix;
      font-size: 14px;
      padding-bottom: 10px;
    }
  }
}
.top-story-board {
  @extend .panel;
  padding: 0;
  figure {
    position: relative;
    img {
      height: 350px;
      width: 100%;
      display: block;
    }
    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;;
      color: white;
      padding: 10px 20px 0 20px;
      background: rgba(47, 47, 47, 0.7);
      .article-info {
        font-weight: 300;
        .title {
          font-weight: 400;
          font-size: 36px;
          word-wrap: break-word;
        }
        .desc {
          font-size: 12px;
          padding-bottom: 10px;
        }
        .summary {
          font-size: 14px;
          padding-bottom: 10px;
        }
      }
    }
  }
}
