#admin-article {
  .article {
    margin: 10px;
    border: 1px solid #777;
    img {
      height: 98px;
      padding: 5px;
      border: 1px solid #777;
    }
    .title {
      text-align: center;
      padding-bottom: 86px;
    }

    input[type=checkbox] {
      margin-bottom: 0;
    }
  }
  .article-month {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }

  .category-placeholder {
    border: 1px dashed #777;
    height: 58px;
  }

  .article-placeholder {
    border: 1px dashed #777;
    height: 100px;
  }

  ul.content {
    @extend .clearfix;
  }
}