.registration_page {
  @extend .row;
  .title { text-align: center; }
  h3 {font-weight: bold}
  .register {
    margin-top: 20px;
    .or {
      @extend .column;
      @extend .small-2;
      @extend .medium-2;
      @extend .large-2;
    }
    .omniauth, .custom {
      @extend .column;
      @extend .small-5;
      @extend .medium-5;
      @extend .large-5;
    }
  }
  .name {
    @extend .row;
    .first_name, .last_name {
      @extend .column;
      @extend .small-6;
      @extend .medium-6;
      @extend .large-6;
    }
  }
}

.login_page {
  .title { text-align: center; }
  .social_media_sign_up {
    @extend .row;
    .fb_sign_up, .google_sign_up {
      @extend .column;
      @extend .small-6;
      @extend .medium-6;
      @extend .large-6;
    }
  }

  .or {
   text-align: center;
  }
}

.fb_sign_in, .google_sign_in, .fb_sign_up, .google_sign_up {
  img {
    width: 300px;
    height: 60px;
    margin-top: 20px;
  }
}

.sign_up, .sign_in {
  float: right;
}

.success_flash {
  text-align: center;
  color: green;
}