.registration_page {
  @extend .row;
  .title { text-align: center; }
  h3 {font-weight: bold}
  .register {
    margin-top: 20px;
    .omniauth, .custom {
      @extend .column;
      @extend .small-6;
      @extend .medium-6;
      @extend .large-6;
    }
  }
  .name {
    @extend .row;
    .first_name, .last_name {
      @extend .column;
      @extend .small-6;
      @extend .medium-6;
      @extend .large-6;
    }
  }
}

.login_page {
  .title { text-align: center; }
  .social_media_sign_in {
    padding: 20px 0;
    @extend .row;
    .fb_sign_in, .google_sign_in {
      padding-top: 20px;
      @extend .column;
      @extend .small-6;
      @extend .medium-6;
      @extend .large-6;
    }
  }
}

.fb_sign_in, .google_sign_in, .fb_sign_up, .google_sign_up {
  background: image_url('sprites.png') no-repeat;
  display: block;
}

.google_sign_in{
  background-position: -413px -350px;
  width: 408px;
  height: 65px;
}

.fb_sign_in {
  background-position: -413px -450px;
  width: 408px;
  height: 65px;
}

.fb_sign_up {
  background-position: 0 -450px;
  width: 408px;
  height: 65px;
}
.google_sign_up {
  background-position: 0 -350px;
  width: 408px;
  height: 65px;
  margin: 20px 0;
}

.sign_up, .sign_in {
  float: right;
}

.success_flash {
  text-align: center;
  color: green;
}