.block.side-content
  .panel
    %h4 Useful tips
    %ul
      %li Tips for creation of content
      %li Tips for creation of content
      %li Tips for creation of content
      %li Tips for creation of content
      %li Tips for creation of content
      %li Tips for creation of content
      %li Tips for creation of content
      %li Tips for creation of content