.panel
  %h4 Listing articles

  %table
    %thead
      %tr
        %th
          Title
        %th
          Status
        %th
          Actions

    %tbody
      - @articles.each do |article|
        %tr
          %td= link_to article.title, article_path(article)
          %td= article.status
          - if permitted_to?(:edit, article)
            %td= link_to 'Edit', edit_article_path(article)

  %br

  = link_to 'New article', new_article_path