.search-results
  - if (params[:search] == ArticlesController::Search::CATEGORY) || (params[:search] == ArticlesController::Search::TAGS)
    = render "shared/article_list"
  - if params[:search] == ArticlesController::Search::ALL
    - if @articles.present?
      %h4
        Search results for
        %span.search-param
          = params[:q]
      = render "shared/article_list"
    - else
      %h4
        No results found