.articles
  .block.article-content
    .panel
      %h4
        = @article.title
      = @article.content.html_safe
      = link_to 'Edit', edit_article_path(@article)
  .block.side-content
    .panel
      %h4 Author