#home-page
  - @articles.each do |article|
    .article-outline
      .article-board
        %figure
          = link_to image_tag(asset_path("africa.jpg")), article_path(article.id)
          %figcaption
            = article.title
        .article-info
          .tags
            - article.tags.each do |tag|
              = tag.name
          .comments
            With the rapid expansion of digital communications, protection civil liberties...
        .article-related
          Related
          .right
            %span 1 Course
            %span 2 Groups