= form_for @author do |f|
  -# TODO: Vijay: Move the errors into a reusable partial - will do this later
  - if @author.errors.any?
    #error_explanation
      %ul
        - @author.errors.full_messages.each do |msg|
          %li= msg
  = render "form_fields", f: f
