.change_email
  .left
  .panel{style: "overflow: hidden"}
    = form_for(@user, url: change_email_user_path(@user), html: { method: :patch, class: "right" }) do |f|
      - if @user.errors[:email].present?
        #error_explanation
          %ul
            %li User with this email exists
      %fieldset
        %legend
          Update email
        .field
          = f.label :email
          = f.email_field :email, autofocus: true, required: true
          = f.submit "Update"