.change_email
  .left
  = form_for(@user, url: change_email_user_path(@user), html: { method: :patch, class: "right" }) do |f|
    %fieldset
      %legend
        Update email
      .field
        = f.label :email
        = f.email_field :email, autofocus: true
        = f.submit "Update"