.panel
  %h4 Listing users

  %table
    %thead
      %tr
        %th
          Name
        %th
          Email
        %th
          Type
        %th
          Actions

    %tbody
      - @users.each do |user|
        %tr
          %td= user.full_name
          %td= user.email
          %td= user.type
          - unless current_user == user
            %td= link_to 'Edit', edit_user_path(user)