- if @articles.count == 0
  #section-3
  .newsletter
    #no-article
      THERE ARE NO ARTICLES FOR THIS CATEGORY
- else
  #search-result
  - @articles.in_groups_of(3, false) do |article_group|
    .article-row
      - article_group.each do |article|
        .article-outline
          = render "shared/article_board", article: article