.panel
  %h1 Contact
  %p
  EMAIL: editors@panafricanbaraza.org
  %p
  Executive editors
  %br
  Firoze Manji (Nairobi): Firoze joined ThoughtWorks in April 2014 as director of Pan-African Baraza. He is the founder and former editor-in-chief of Pambazuka News and founder and former executive director of Fahamu, and has previously worked with CODESRIA, Amnesty International, Aga Khan Foundation and International Development Research Centre.
  %p
  Orville Khangale (Johannesburg): Orville have been working for ThoughtWorks since 2012 as the cultural ambassodor and logistics manager. He is an advocate for human rights and labour movements. While living through the consequences of Apartheid in South Africa, Orville brings to the conversation topics on what what we as a people should do to bring back the dignity of Africans. He has a dream of writing a book about the untold stories in African history.
  %p
  Editorial advisors
  To be announced
  %p
  %b
  Website development
  %br
  Chaitanya Muppala, Somya Hastekar, Deepthi R, Taryn Tim, Nsovo Manganyi, Makaziwe Zoyisile Qobo
  %p
  With appreciation also to:
  Christorpher Aron, Charles Akoto Boadu, Simbarashe Linval Nyatsanga, Marcondes Silva, Rodrigo Alencar, Naval Adrianjafinandrasana, Prabir Purkayastha, Feroz Zainulabdeen, Aslam Khan
