%p
  = "Hi #{@name},"
  %br
  .div
    Following our conversation recently we are assigning you with the Admin role on the Pan-African Baraza platform.
    This will mean that you will be able to upload articles,
    to review submissions and participate in the process of publishing on the website and in our e-magazine.
    You will also be able to approve newsletter for publishing and distribution and manage users.


  %br
  .div
    Thank you for agreeing to this role.

  %br
    A luta continua
  %br
  .div
    The Editors, Pan-African Baraza
  .div
    editors@panafricanbaraza.org