%p
  = "Hi #{@name},"
  %br
  .div
    Following our conversation recently we have switched you back to being a registered user. Thank you for your help.

  %br
  .div
    A luta continua
  %br
  .div
    The Editors, Pan-African Baraza
  .div
    editors@panafricanbaraza.org