%p
  = "Hi #{@name},"
  %br
  .div
    Following our conversation recently we are assigning you with the Editorial role on the Pan-African Baraza platform.
    This will mean that you will be able upload articles,
    to review submissions and participate in the process of publishing on the website and in our e-magazine.
    %br
    Thank you for agreeing to this role.

  .div
    A luta continua
  %br
  .div
    The Editors, Pan-African Baraza
  .div
    editors@panafricanbaraza.org