%p
  = "Hi #{@name},"
  %br
  .div
    Following our conversation recently WE HAVE SWITCHED YOU BACK TO BEING A REGISTERED USER. Thank you for your help.

  %br
  .div
    A luta continua
  %br
  .div
    The Editors, Pan-African Baraza
  .div
    editors@panafricanbaraza.org