%p
  = "Hi #{@name},"
  %br
  .div
    = "You are being assigned with the #{@type.underscore.humanize.downcase} role on the platform 'Baraza'."
  %br
  .div
    A luta continua
  %br
  .div
    The Editors, Pan-African Baraza
  .div
    editors@panafricanbaraza.org