.item.left
  %a{"aria-controls" => "category-drop", "aria-expanded" => "false", "data-dropdown" => "category-drop", "data-options" => "is_hover:true"} EXPLORE
  %span.icon-down-arrow
.item.left
  = link_to "eMAGAZINES", newsletters_path
.item.left
  = link_to "USERS", users_path
.item.left
  = link_to "CONFIGURE HOME PAGE", root_path(configure_home: true)
