.item.left
  = link_to "NEWSLETTERS", newsletters_path
  %span.icon-down-arrow
.item.left
  = link_to "ARTICLES", "#"
  %span.icon-down-arrow
.item.left.participate
  = link_to "USERS", users_path
  %span.icon-down-arrow