.item.left
  %a{"aria-controls" => "category-drop", "aria-expanded" => "false", "data-dropdown" => "category-drop"} EXPLORE
  %span.icon-down-arrow
.item.left
  = link_to "ARTICLES", articles_path
  %span.icon-down-arrow