.panel
  %h1
    About Pan-African Baraza
  %p
    ‘Baraza’ is a Kiswahili word for a forum, a meeting place, a community organising space.
  %p
    The Pan-African Baraza seeks to nourish and contribute to the development of pan-African movements that are audacious,
    courageous, creative and inventive in attaining the emancipation of African peoples.
  %p
    The Pan-African Baraza is a contemporary response to the devastation and reversal of the many gains of independence
    that we have experienced over the last few decades, especially those resulting from the implementation of neoliberal
    policies by our governments. Our governments have become increasingly more answerable to transnational corporations,
    banks and financials institutions than to their own citizens.
  %p
    We consider ‘Africa’ to be more than just a physical geography: it is a history that includes those who were forcibly
    removed from the continent and who have since moved in or out of the physical continent.
  %p
    The Pan-African Baraza is a platform that amplifies the voices of movements, organisations, activist and engaged
    intellectuals that want to reflect, share, analyse and organise in order to:
  %p
    %b
      Reclaim the past | Contest the present | Invent the future
  %p
  %h4
    EXPLORE
  %p
    Here you explore and comment upon articles, commentary, audiovisuals, art and other forms of communications coming
    from the pan-African movements, organisations, activist and engaged intellectuals.
  %p
    You can submit articles and audiovisual materials directly online or by sending to
    %a{:href => 'mailto:editors@panafricanbaraza.org'}editors@panafricanbaraza.org.
  %p
  %h4
    LEARN
  %p
    Pan-African Baraza organises regular online courses on pan-Africanism and and seminars where we invite movements,
    organisations,
    activist and engaged intellectuals to discuss critical issues facing African people. We welcome your suggestions
    for topics to be covered (write to
    %a{:href => 'mailto:editors@panafricanbaraza.org'}editors@panafricanbaraza.org
    ). We will shortly be uploading recordings of seminars.
    &nbsp;
    Over time we will develop a repository of learning materials, including books,  that we think will be valuable.
    If you have organised similar initiatives or know of useful resources, please get in touch.
  %p
  %h4
    PARTICIPATE
  %p
    There are numerous initiatives across Africa that seek to reclaim the past, contest the present and invent the future.
    Here you will find information about some of these activities. If you are involved in campaigns that you would like
    the Pan-African Baraza community to know about and participate in, you will be able to upload materials here.
  %p
  %h4
    SUBSCRIBE
  %p
    The Pan-African Baraza magazine will be published regularly (initially once every month) and will contain summaries of
    what has appeared on the site as well as feature materials. You can subscribe here.
  %p
  %h4
    ABOUT THE PAN-AFRICAN BARAZA LOGO
  %p
    The logo is based on the Adinkra symbol for emancipation (‘fawohodie’). We introduced fluidity to imply the movement
    over time, and then sought to give a contemporary feel with an earthy colour.
  %p{class: "center-text"}
    %img{:alt => "Baraza symbol", :height => "44", :src => image_url("about-symbol.jpg")}/
  %p{class: "center-text"}
    %b
      Thus:
  %p{class: "center-text"}
    %img{:alt => "Baraza logo", :height => "44", :src => image_url("about-logo.png")}
  %h4
    WHO WE ARE
  %p
    The Pan-African Baraza was launched with the support of ThoughtWorks, “A community of passionate individuals whose
    purpose is to revolutionize software design, creation and delivery, while advocating for positive social change.”
  %h5
    Executive editors
  %p
    %b
      Firoze Manji
    (Nairobi): Firoze joined ThoughtWorks in April 2014 as director of Pan-African Baraza. He is the
    founder and former editor-in-chief of Pambazuka News and founder and former executive director of Fahamu, and has
    previously worked with CODESRIA, Amnesty International, Aga Khan Foundation and International Development Research
    Centre.
  %p
    %b
      Orville Khangale
    (Johannesburg):  Orville have been working for ThoughtWorks since 2012 as the cultural ambassodor and logistics
    manager. He is an advocate for human rights and labour movements. While living through the consequences of Apartheid
    in South Africa, Orville brings to the conversation topics on what what we as a people should do to bring back the
    dignity of Africans. He has a dream of writing a book about the untold stories in African history.
  %h5
    Website development
  %p
    Chaitanya Muppala, Somya Hastekar, Deepthi R, Taryn Tim, Nsovo Manganyi, Makaziwe Qobo
  %p
    With appreciation also to:
    %br
    Christorpher Aron, Charles Akoto Boadu, Simbarashe Linval Nyatsanga, Marcondes Silva, Rodrigo Alencar, Naval
    Adrianjafinandrasana, Prabir Purkayastha, Feroz Zainulabdeen, Aslam Khan


