.panel
  %h1
    Contact
  %br
  %h4
    EMAIL
  %a{:href => 'mailto:editors@panafricanbaraza.org'}editors@panafricanbaraza.org.
  %hr
  %h4
    EXECUTIVE EDITORS
  %p
    %b
      Firoze Manji
    (Nairobi): Firoze joined ThoughtWorks in April 2014 as director of Pan-African Baraza. He is the
    founder and former editor-in-chief of Pambazuka News and founder and former executive director of Fahamu, and has
    previously worked with CODESRIA, Amnesty International, Aga Khan Foundation and International Development Research
    Centre.
  %p
    %b
      Orville Khangale
    (Johannesburg): Orville has been working for ThoughtWorks since 2012 as the cultural ambassodor and logistics
    manager. He is an advocate for human rights and labour movements. While living through the consequences of Apartheid
    in South Africa, Orville brings to the conversation topics on what what we as a people should do to bring back the
    dignity of Africans. He has a dream of writing a book about the untold stories in African history.