.panel
  %h1
    Contact
  %p
    Write to
    %a{:href => 'mailto:editors@panafricanbaraza.org'}editors@panafricanbaraza.org
  %hr
  %p
    Pan-African Baraza
    %br
    ThoughtWorks South Africa
    %br
    17 Melle Street
    %br
    2nd Floor, South Point Building
    %br
    Braamfontein
    %br
    Johannesburg 2001
    %br
    South Africa

  %p
    %b
      t:
    +27 (0)10 003 2728