%p
  = "Hi #{@user.first_name} #{@user.last_name},"
  %br
  .div
    You are being assigned with the Editorial role on the platform “Baraza”.
  %br
  .div
    A luta continua
  %br
  .div
    The Editors, Pan-African Baraza
  .div
    editors@panafricanbaraza.org