%p
  = "Hi #{@user.first_name} #{@user.last_name},"
  .div
    You are being assigned with the Editorial role on the platform “Baraza”. As an editor, you will be to do following things.

  .div
    Thanks & Regards,
    Admin
    Pan-African Baraza.

