%p
  = "Hi #{@user.email},"
  .div
    You are being assigned with the Admin role on the platform “Baraza”. As an admin, you will be to do following things.

  .div
    Thanks & Regards,
    Admin
    Pan-African Baraza.
