html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
}

.left-empty, .right-empty {
  @extend .column;
  @extend .medium-1;
  &:after {
    content: '.';
    visibility: hidden;
  }
}
body{
  position: relative;
  background: #EAEAEB;
}

.middle-content {
  @extend .column;
  @extend .medium-10;
}

.nav-bar, .logo-bar {
  clear: both;
  overflow: hidden;
  border-bottom: 1px solid $gainsboro;
  background: #FFFFFF;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.main-content {
  border-bottom: none;
  overflow: auto;
  padding-bottom: 120px;
}

.footer {
  margin: 0 auto;
  font-size: 14px;
  color: #353535;
  padding: 20px;
  background: #FFFFFF;
  border-top: 1px solid #DDD;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85px;

  .column-1 {
    float: left;
    width: 60%;

    a, img {
      vertical-align: middle;
    }
  }

  .column-2 {
    float: left;
    width: 40%;

    > div:first-child {
      float: left;
      margin-right: 10px;
    }
  }
}

input[type=submit] {
  @extend .button;
  margin: 20px 0;
}

ul, li, ul li ul {
  list-style-type: none;
}

.display_error, #error_explanation li, .alert {
  color: red;
  font-size: small;
}

.notice {
  text-align: center;
  color: green;
}

#error_explanation h2 {
  font-size: small;
}

.star_it:before {
  color: red;
  content: "*";
  font-weight: bold;
  vertical-align: middle;
  font-size: 18px;
  margin-right: 2px;
}

.header {
  #logo {
    @extend .left;
    position: absolute;
    left: 0%;
    img {
      width: 35%;
    }
  }
  #mission {
    @extend .right;
    white-space: nowrap;
    line-height: 120px;
    color: #d45934;
    font-size: 16px;
    font-weight: 400;
    ul {
      overflow: hidden;
    }
    li + li:before {
      content: "\00a0 |\00a0";
    }
    li {
      display: inline;
      span {
        font-style: italic;
      }
    }
  }
}


.icon-search {
  position: relative;
  left: -20%;
  margin: 30px;
}

.select2-container-multi ul.select2-choices{
  li.select2-search-choice {
    background-color: #EBEBEA;
    padding-top: 10px;
    padding-bottom: 10px;
    .select2-search-choice-close {
      top: 11px;
    }
  }
}

form {
  .field {
    label[data-hint]:after {
      margin-left: 4px;
      font-size: 11px;
      font-style: italic;
      color: $base;
      vertical-align: middle;
      content: " ( " attr(data-hint) " ) ";
    }
  }
}

.center-text {
  text-align: center;
}

.small-text {
  font-size: 11px;
}

.margin-top {
  margin-top: 10px;
}

.margin-right {
  margin-right: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-left {
  margin-left: 10px;
}