html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
}

.left-empty, .right-empty {
  @extend .column;
  @extend .medium-1;
  &:after {
    content: '.';
    visibility: hidden;
  }
}

.middle-content {
  @extend .column;
  @extend .medium-10;
}

.main-content, .nav-bar, .logo-bar {
  clear: both;
  overflow: hidden;
  border-bottom: 1px solid $gainsboro;
}

input[type=submit] {
  @extend .button;
  margin: 20px 0;
}

ul, li, ul li ul {
  list-style-type: none;
}

.display_error {
  color: red;
  font-size: small;
}

.star_it:before {
  color: red;
  content: " ";
  background: transparent url(image_path('red_asterisk.gif')) center right no-repeat;
  padding: 5px;
  margin-right: 2px;
}

.header {
  @extend .row;
  .logo {
    @extend .column;
    @extend .medium-6;
    img {
      height: 120px;
      position: absolute;
      left: -19pt;
    }
  }
  .mission {
    @extend .column;
    @extend .medium-6;
    line-height: 120px;
    color: #d45934;
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    font-weight: 400;
    .separator {
      @extend .left;
      padding: 0 10px;
    }
    .statement {
      @extend .left;
      font-style: italic;
    }
  }
}

.main-content {
  overflow: hidden;
  background-color: #EBEBEA;
  height: auto;
}

.icon-search {
  position: relative;
  left: -20%;
}