input[type=submit] {
  @extend .button;
}

ul, li, ul li ul {
  list-style-type: none;
}

.mission {
  text-align: center;
  color: red;
  font-weight: normal;
  font-style: italic;
  margin-top: 20px;
}

.display_error {
  color: red;
}