
div.tabs {
  border-bottom: 1px solid $gainsboro;
  ul {
    @extend .row;
    li {
      padding: 20px 0;
      text-align: center;
      @extend .column;
      @extend .medium-2;
      margin-top: 25px;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
      border-right: 1px solid;
    }
    .logo {
      padding-top: 0px;
      margin-top: 20px;
    }
  }
}