%p
  Dear #{@resource.full_name},

  -if @resource.provider == 'facebook' || @resource.provider == 'google_oauth2'
    %p Someone has requested a link to change your password.
    %br
    %p When you signed up to the Pan-African Baraza, you used a Facebook or Google account.
    %p Please use Facebook or Google to reset your password.
    %br
    %p If you didn't request this, please ignore this email.
  -else
    %p Someone has requested a link to change your password. You can do this through the link below.
    %p= link_to 'Change my password', new_password_path(@resource.full_name)
    %p The reset password link will be valid for 12 hours.
    %p If you didn't request this, please ignore this email.
    %p Your password won't change until you access the link above and create a new one.